* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

body {
    background-color: rgb(26, 26, 26);
    font-family: Arial, Helvetica, sans-serif;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 200px 1fr 200px; 
    grid-template-rows: 100px 1fr; 
    gap: 0px 0px; 
    justify-content: center; 
    grid-template-areas: ". header ." ". main .";

}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 215px;
    height: 33px;
}

.header-right {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-right p {
    padding-right: 20px;
    font-size: 19px;
}

.header-right p .number {
    color: #D6AF76;
    font-size: 19px;
}

.button {
    border: 1px solid #D6AF76;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
}

.button img {
    padding-right: 10px;
}

main {
    grid-area: main;
}

.firstpage-text {
    display: grid;
    grid-template-rows: 70px 70px;
    margin-top: 50px;
    margin-bottom: 20px;
    gap: 10px;
}

.firstpage-text div:first-child {
    font-size: 50px;
    color: white;

}

.firstpage-text div:last-child {
    font-size: 26px;
    color: white;
    
}

.firstpage-text-header {
    max-width: 1182px;
}

.firstpage-plates-container {
    background-image: url(../images/parallax-bg.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 1040px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    gap: 27px 34px;
  }

  .firstpage-plates-container li {
    color: white;
}

.firstpage-plates-container .block {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 467px);
    gap: 34px;
}


.firstpage-plates-container .block-2 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 715px);
    gap: 30px;
}

  .firstpage-plates-container .plate-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 467px;
    height: 468px;
    background-color: #634F2C;
  }

  .firstpage-plates-container .plate-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 467px;
    height: 468px;
    background-color: #B4A385;

  }

  .firstpage-plates-container .plate-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 467px;
    height: 468px;
    background-color: #E4B564;

  }

  .firstpage-plates-container .plate-4 {
    background-color: rgb(87, 76, 57);
    width: 715px;
    height: 468px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .firstpage-plates-container .plate-5 {
    background-color: #B08C4D;
    width: 715px;
    height: 468px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .secondpage-text {
    margin-top: 140px;
    margin-bottom: 80px;
  }
  
  .secondpage-text p{
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.secondpage-plates {
    background-image: url(../images/header-bg.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 1040px;
    display: grid;
    grid-template-columns: repeat(3, 467px);
    grid-column-gap: 30px;
    justify-content: center;
}

.secondpage-plates .block{
    margin-top: 20px;
}


.secondpage-plates .block .plate-1 {
    width: 467px;
    height: 313px;
    background-color: #0E0E0E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.secondpage-plates .block .plate-2 {
    width: 467px;
    height: 439px;
    background-color: #242424;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 33px;
}

.secondpage-plates .block .plate-3 {
    width: 467px;
    height: 255px;
    background-color: #1F1F1F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
}


.secondpage-plates .block .plate-4 {
    width: 467px;
    height: 560px;
    background-color: #1F1F1F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.secondpage-plates .block .plate-5 {
    width: 467px;
    height: 405px;
    background-color: #E4B564;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.secondpage-plates .block .plate-6 {
    width: 467px;
    height: 313px;
    background-color: #0E0E0E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
}


.secondpage-plates .block .plate-7 {
    width: 467px;
    height: 277px;
    background-color: #0A0909;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdpage-text {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    margin-bottom: 50px;
}


.thirdpage-text p {
    color: white;
    font-size: 50px;
}

.thirdpage-text button {
    border: 1px solid #E4B564;
    background-color: #0E0E0E;
    width: 180px;
    height: 50px;
}

.thirdpage-text button a{
   color: #E4B564;
}

.thirdpage-plates {
    margin-bottom: 240px;
}

.thirdpage-plates .blocks{
    display: grid;
    grid-template-columns: repeat(3, 487px);
    justify-content: center;
}

.thirdpage-plates .blocks li {
    width: 487px;
    height: 391px;
}


.thirdpage-plates .blocks li:nth-child(1) {
    background-color: #634F2C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdpage-plates .blocks li:nth-child(2) {
    background-color: #E8D2ABC2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;
    padding: 0 80px;
    text-align: center;
    box-sizing: border-box;
}

.thirdpage-plates .blocks li:nth-child(3) {
    background-color: #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdpage-plates .blocks li:nth-child(4) {
    background-color: #635A4A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdpage-plates .blocks li:nth-child(5) {
    background-color: #B08C4D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thirdpage-plates .blocks li:nth-child(6) {
    background-color: #634F2C;
    display: flex;
    justify-content: center;
    align-items: center;
}