@font-face {
    font-family: 'Gilam Black DEMO';
    src: url('../fonts/Gilam-BlackDEMO.eot');
    src: local('fonts/Gilam Black DEMO'), local('fonts.Gilam-BlackDEMO'),
        url('../fonts/Gilam-BlackDEMO.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilam-BlackDEMO.woff2') format('woff2'),
        url('../fonts/Gilam-BlackDEMO.woff') format('woff'),
        url('../fonts/Gilam-BlackDEMO.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gilam Thin Italic DEMO';
    src: url('Gilam-ThinItalicDEMO.eot');
    src: local('Gilam Thin Italic DEMO'), local('Gilam-ThinItalicDEMO'),
        url('Gilam-ThinItalicDEMO.eot?#iefix') format('embedded-opentype'),
        url('Gilam-ThinItalicDEMO.woff2') format('woff2'),
        url('Gilam-ThinItalicDEMO.woff') format('woff'),
        url('Gilam-ThinItalicDEMO.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
	font-family: 'Circe';
	src: url('Circe-Regular.eot');
	src: local('Circe'), local('Circe-Regular'),
		url('Circe-Regular.eot?#iefix') format('embedded-opentype'),
		url('Circe-Regular.woff') format('woff'),
		url('Circe-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('Circe-ExtraLight.eot');
	src: local('Circe ExtraLight'), local('Circe-ExtraLight'),
		url('Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('Circe-ExtraLight.woff') format('woff'),
		url('Circe-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('Circe-Thin.eot');
	src: local('Circe Thin'), local('Circe-Thin'),
		url('Circe-Thin.eot?#iefix') format('embedded-opentype'),
		url('Circe-Thin.woff') format('woff'),
		url('Circe-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('Circe-Light.eot');
	src: local('Circe Light'), local('Circe-Light'),
		url('Circe-Light.eot?#iefix') format('embedded-opentype'),
		url('Circe-Light.woff') format('woff'),
		url('Circe-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('Circe-Bold.eot');
	src: local('Circe Bold'), local('Circe-Bold'),
		url('Circe-Bold.eot?#iefix') format('embedded-opentype'),
		url('Circe-Bold.woff') format('woff'),
		url('Circe-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Circe';
	src: url('Circe-ExtraBold.eot');
	src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
		url('Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('Circe-ExtraBold.woff') format('woff'),
		url('Circe-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

body {
	background-color: aqua;
}
